/* global */
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.d-flex{
    display: flex;
}
#ex-direction{
    flex-direction: column;
}
.item-center{
    align-items: center;
}
.justify-even{
    justify-content: space-evenly;
}
.justify-between{
    justify-content: space-between;
}
.content-center{
    text-align: center;
}
.btn{
    margin: 10 0px;
    padding: 10px 20px;
    background-color: rgb(60, 130, 209);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-color: rgb(60, 130, 209);;
}
.btn img{
    width: 14px;
    height: 14px;
}
/* banner */
#main-img{
    width: 400px;
}
.banner-color{
    background-color: rgb(202, 197, 189);
}
/* card */
.card-cs{
    background-color: rgb(243, 243, 243);
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* shopping card */
.shopping-card{
    background-color: antiquewhite;
    padding: -30 10px;
    border-color: black;
    border-radius: 5px;
    margin: 10px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}